<h1>Listing people</h1>

<table>
  <tr>
    <th>Registration</th>
    <th>Name</th>
    <th>Year of birth</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.registration %></td>
    <td><%= person.name %></td>
    <td><%= person.year_of_birth %></td>
    <td><%= person.male %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
