- [:notice, :error, :success].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }= flash[key] 

%p
  = form_tag people_path, :method => 'get' do
    %p
      = text_field_tag :search, params[:search] 
      = submit_tag "Search", :name => nil
    %p
      = check_box_tag :is_anywhere, true, params[:is_anywhere]
      = label_tag :is_anywhere, "match anywhere in name"
    // %p
    //  = label_tag :clinic_id, "Clinic"
    //  = text_field_tag :clinic_id, params[:clinic_id]
  = @people.size
  matches
  
.logo
  = link_to image_tag("Leprosy_PR_2010.jpg", :align => "right"),
    "http://www.who.int/lep/situation/en/"

%p
  %table
    %tr
      %th{ :align => :left} #
      %th{ :align => :left} Name
      %th Born
      %th Gender
      %th Village
      %th Clinic
    - @people.each do |person|
      %tr
        %td 
          = link_to person.registration, person
        %td 
          = link_to person.show_name, person
        %td 
          = person.year_of_birth
        %td 
          = (person.male ? '' : 'F')
        %td
          = person.village
        %td
          = person.clinic

        // <td><%= link_to 'Edit', edit_person_path(person) %></td>
        // <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>

%p
  Adjust search for more results
  = "(max. 100 results shown)" if @people.size > 70

