%p
  = form_tag people_path, :method => 'get' do
    %p
      = text_field_tag :search, params[:search] 
      = submit_tag "Search", :name => nil
  = @people.size
  matches
  
%p
  %table
    %tr
      %th{ :align => :left} #
      %th{ :align => :left} Name
      %th Born
      %th Gender
    - @people.each do |person|
      %tr
        %td 
          = link_to person.registration, person
        %td 
          = link_to person.show_name, person
        %td 
        %td 
          = person.year_of_birth
        %td 
          = (person.male ? '' : 'F')
        // <td><%= link_to 'Edit', edit_person_path(person) %></td>
        // <td><%= link_to 'Destroy', person, confirm: 'Are you sure?', method: :delete %></td>

%p
  Adjust search for more results (max. 100 results shown)
