%h1 
  = @person.show_name

%table
  %tr
    %td reg#
    %td
      = @person.registration
  %tr
    %td name
    %td 
      = @person.show_name
  %tr
    %td born
    %td 
      = @person.year_of_birth

  %tr
    %td gender
    %td 
      = @person.gender

  %tr
    %td village
    %td 
      = @person.village

  %tr
    %td clinic
    %td 
      = @person.clinic
%p
  = link_to 'Edit', edit_person_path(@person)
  |
  = link_to 'Back', people_path
%hr
%h3
  Personal history
  %ul
    - @person.personal_histories.each do |hist|
      %li
        = link_to hist.date.to_s, personal_history_path(hist)
        %nbsp (
        = hist.id
        )
    %li
      - if @person.personal_histories.size > 0
        = link_to 'Add new personal history form', new_personal_history_path( copy_id: @person.personal_histories.last.id )
      - else
        = link_to 'First personal history form', new_personal_history_path( person_id: @person.id )


%h3
  Contacts
  %ul
    - @person.contacts.each do |c|
      %li
        = link_to c.date.to_s, contact_path(c)
        %nbsp (
        = c.id
        )
    %li
      - if @person.contacts.size > 0
        = link_to 'Add new contact form', new_contact_path( copy_id: @person.contacts.last.id )
      - else
        = link_to 'Add first contact form', new_contact_path( person_id: @person.id )

%h3
  Assessments (examinations)
  %ul
    - @person.assessments.each do |a|
      %li
        = link_to a.date.to_s, assessment_path(a)
        %nbsp (
        = a.id if a
        )
    %li
      - if @person.assessments.size > 0
        = link_to 'Add new assessment form', new_assessment_path( copy_id: @person.assessments.last.id )
      - else
        = link_to 'Add new assessment form', new_assessment_path( person_id: @person.id )

%h3
  Reactions
  |
  Create
  (nyi)
%hr
%p
  Addresses
  |
  Create
  (nyi)


