<p id="notice"><%= notice %></p>

<p>
  <b>Registration:</b>
  <%= @person.registration %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Year of birth:</b>
  <%= @person.year_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @person.gender %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
