#form
  = form_for(@personal_history) do |f|
    .error
      - if @personal_history.errors.any?
        %h2 ERROR!
        %ul
          - @personal_history.errors.full_messages.each do |msg|
            %li
              = msg

    = @personal_history.person.show_name
    %div
      = f.label :remark
    %div
      = f.text_area :remark, :size => "80x4"
    %div
    .info
      The personal history contains personal details that are non-medical
    = f.submit "Update"
    %hr
    .readonly
      = @personal_history.created_at.strftime("Created on %Y/%m/%d")
      = @personal_history.updated_at.strftime(" and updated on %Y/%m/%d")


