<%= form_for(@personal_history) do |f| %>
  <% if @personal_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal_history.errors.count, "error") %> prohibited this personal_history from being saved:</h2>

      <ul>
      <% @personal_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :guardian %><br />
    <%= f.number_field :guardian %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.number_field :address %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.number_field :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
