#form
  = form_for(@personal_history) do |f|
    %div
      .info
        The personal history contains personal details that are non-medical
    .error
      - if @personal_history.errors.any?
        %h2 ERROR!
        %ul
          - @personal_history.errors.full_messages.each do |msg|
            %li
              = msg

    %table
      %tr
        %td
          = @personal_history.id
          = ":"  
          = @personal_history.person.show_name
          = @personal_history.person_id
          = f.hidden_field :person_id
        %td
          reg 
          = @personal_history.registration
      %tr
        %td
          = f.hidden_field :registration
          = f.hidden_field :registration_date
          = @personal_history.registration_date.strftime("Created on %Y/%m/%d") if @personal_history.registration_date
      %tr
        %td
          = f.label :date
        %td
          = f.text_field :date, :readonly => 'true'
          - [ :staff_id, :finder_lca, :members, :income ].each do |field|
            %tr
              %td
                = f.label field
              %td
                = f.number_field field
          - [ :symbol_occupation, :symbol_education, :symbol_guardian ].each do |field|
            %tr
              %td
                = f.label field
              %td
                = f.text_field field
            %tr
              %td
                = f.label :guardian_name
              %td
                = f.text_field :quardian_name
          - [ :latrine_access, :rft, :died ].each do |field|
            %tr
              %td
                = f.label field
              %td
                = f.check_box field
    %tr
      %td{ :colspan => "2" }
        %div
          = f.label :remark
        %div
          = f.text_area :remark, :size => "80x4"
    %div
    = f.submit "Update"
    %hr
    .readonly
      = @personal_history.created_at.strftime("Created on %Y/%m/%d")
      = @personal_history.updated_at.strftime(" and updated on %Y/%m/%d")


