#form
  = form_for(@reaction) do |f|
    %div
      .info
        The reaction form contains details of a reaction examination
    .error
      - if @reaction.errors.any?
        %h2 ERROR!
        %ul
          - @reaction.errors.full_messages.each do |msg|
            %li
              = msg

    %table
      %tr
        %td
          = @reaction.id
          = ":"  
          = @reaction.person.show_name
          = @reaction.person_id
          = f.hidden_field :person_id
        %td
          reg 
          = @reaction.registration
      %tr
        %td
          = f.hidden_field :registration
      != tr_date(f,:date, :readonly => true)
      != tr_date f,    :prednisolon_date
      != tr_number f, :bands_study
      != tr_number f, :mdt_dose
      != tr_check_box f, :treatment

      != tr_number f, :duration_months
      != tr_check_box f, :type1
      != tr_check_box f, :type_neuritis
      != tr_check_box f, :type2
      != tr_number f, :type1_grade
      != tr_number f, :type2_grade

      != tr_number f, :nerve_pain_score_facila_r
      != tr_number f, :nerve_pain_score_facila_l
      != tr_number f, :nerve_pain_score_radial_r
      != tr_number f, :nerve_pain_score_radial_l
      != tr_number f, :nerve_pain_score_ulnar_r
      != tr_number f, :nerve_pain_score_ulnar_l
      != tr_number f, :nerve_pain_score_median_r
      != tr_number f, :nerve_pain_score_median_l
      != tr_number f, :nerve_pain_score_common_r
      != tr_number f, :nerve_pain_score_common_l
      != tr_number f, :nerve_pain_score_posterior_r
      != tr_number f, :nerve_pain_score_posterior_l

    %tr
      %td{ :colspan => "2" }
        %div
          = f.label :remark
        %div
          = f.text_area :remark, :size => "80x4"
    %div
    = f.submit "Update"
    %hr
    .readonly
      = @reaction.created_at.strftime("Created on %Y/%m/%d")
      = @reaction.updated_at.strftime(" and updated on %Y/%m/%d")


