
%h1
  = @assessment.person.name if @assessment.person

%p
  = link_to 'Edit', edit_assessment_path(@assessment) 
  |
  = link_to 'Back', person_path(@assessment.person)

%table
  = render(partial: "shared/attribute", locals: { :rec => @assessment }, collection: @assessment.fields )

%hr

= link_to 'Edit', edit_assessment_path(@assessment) 
|
= link_to 'Back', person_path(@assessment.person)
