
%h1
  = @reaction.person.name if @reaction.person

%p
  = link_to 'Edit', edit_reaction_path(@reaction) 
  |
  = link_to 'Back', person_path(@reaction.person)

%table
  = render(partial: "shared/attribute", locals: { :rec => @reaction }, collection: @reaction.fields )

%hr

= link_to 'Edit', edit_reaction_path(@reaction) 
|
= link_to 'Back', person_path(@reaction.person)
