#form
  = form_for(@address) do |f|
    %div
      .info
        The address form contains details of an examination
    .error
      - if @address.errors.any?
        %h2 ERROR!
        %ul
          - @address.errors.full_messages.each do |msg|
            %li
              = msg

    %table
      %tr
        %td
          = @address.id
          = ":"  
      // - [ :clinic_id, :staff_id ].each do |field| 
      //   !=!= tr_number(f,field) 
      // - [ :symbol_patient_type, :symbol_patient_status, :symbol_medication, :symbol_treatment ].each do |field|
      //   !=!= tr_symbol(f,field)
      // - [ :final_address ].each do |field|
      //   !=!= tr_check_box f,field
      != tr_check_box f, :current_address
      != tr_text f,  :road  
      != tr_text f,  :village
      != tr_text f,  :postcode
      != tr_text f,  :phone
      != tr_number f, :clinic_id   # keep clinic ID here for imports
      != tr_text f,  :latitude                   # override location
      != tr_text f,  :longitude                  # override location

    %tr
      %td{ :colspan => "2" }
        %div
          = f.label :remark
        %div
          = f.text_area :remark, :size => "80x4"
    %div
    = f.submit "Update"
    %hr
    .readonly
      = @address.created_at.strftime("Created on %Y/%m/%d") if @address.created_at
      = @address.updated_at.strftime(" and updated on %Y/%m/%d") if @address.updated_at


