
%h1
  = @address.person.name if @address.person

%p
  = link_to 'Edit', edit_address_path(@address) 
  |
  = link_to 'Back', person_path(@address.person)

%table
  = render(partial: "shared/attribute", locals: { :rec => @address }, collection: @address.fields )

%hr

= link_to 'Edit', edit_address_path(@address) 
|
= link_to 'Back', person_path(@address.person)
