<!DOCTYPE html>
%html
  %head
    %title LEPRA Live
    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
    // <%= csrf_meta_tags %>
  %body{ :class => controller.controller_name }
    .banner
      .maintitle
        = link_to @page_title || "LEPRA (" + lepra_version + ")", people_path
      .logged_in
        - if signed_in?
          = current_user.email
          // = current_user.first_name 
          // = current_user.last_name
      .tabs
        %span
          |
          = link_to "Home", '/'
          |
          = link_to "Search", '/people'
          |
          = link_to 'New patient card', new_person_path
          // |
          // = link_to "Admin", '/admin'
          // |
          // = link_to "Help", '/help'
          |
          - if signed_in?
            = link_to 'Log out ', destroy_user_session_path
          - else
            = link_to 'Log in', '/users/sign_in'
    .main
      = yield
