<!DOCTYPE html>
%html
  %head
    %title Lepra2
    = stylesheet_link_tag "application"
    // <%= javascript_include_tag "application" %>
    // <%= csrf_meta_tags %>
  %body{ :class => controller.controller_name }
    .logo
      = image_tag("Lepra_2003.png", :width => "30%", :align => "right")
    .banner
      .maintitle
        = @page_title || "Lepra2 database"
      .tabs
        %span
          |
          = link_to "Home", '/'
          |
          = link_to "Search", '/people'
          |
          = link_to 'New patient card', new_person_path
          |
          = link_to "Admin", '/admin'
          |
          = link_to "Help", '/help'
          |
    .main
      = yield
